{% extends 'index.html' %}
{% load staticfiles %}
{% block title %}SRIA - Nosotros {% endblock title %}
{% block section#1 %}{% endblock section#1 %}
{% block s2-class %}about_us padding_top{% endblock s2-class %}
{% block about %}

<section>
    <h1 style="text-align: center; font-size: 48px;"><strong>Sociedad de Radiología e Imagenología del Azuay</strong>
    </h1>
    <br />
    <p style="text-align:center;">
        <img src="{% static 'img/logo.png' %}" height="256" width="256">
    </p>
    <h2 style="text-align: center; font-size: 32px;">Nuestra Sociedad</h2>
    <div class="container" style="padding-top: 5%">
        <p class="text-justify col-md-9 col-sm-12 mx-auto" style="font-size: 20px;">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi vero labore quidem dolorem necessitatibus
            eius eaque dignissimos incidunt. Rerum quo dolor quaerat neque. Cupiditate eligendi ea, doloremque totam
            voluptates unde. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi vero labore quidem dolorem
            necessitatibus eius eaque dignissimos incidunt. Rerum quo dolor quaerat neque. Cupiditate eligendiea.
            <br><br>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta temporibus sed adipisci repudiandae ab
            corrupti voluptatem deserunt eaque nesciunt omnis minima fuga iure praesentium unde quos reprehenderit,
            laborum explicabo est?
            <br><br>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque amet quod id alias porro nesciunt
            impedit sequi, perferendis nulla eveniet odit ex quidem magnam pariatur dicta vero quisquam quis ea!4
            <br><br>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit illo atque, dignissimos distinctio animi
            perspiciatis totam fugit necessitatibus corporis modi non cum. Nihil rem temporibus quis eos eum dolorem
            rerum!
        </p>
    </div>
</section>

{% endblock about %}
{% block div-news %}{% endblock div-news %}